* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li a {
    text-decoration: none;    
}

ul li {
    list-style: none;
}

.nav-container {
    width: 100%;
    min-height: 9vh;
    background-color: #0065c3;    
    display: flex;
    align-items: center;
}

.nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.left-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#logo {
    height: 100%;
}

.nav a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}

#arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1rem;
}

.right-nav button {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    padding: .3rem 1.3rem;
    border-radius: 1rem;
}